.outerDiv {
    display: flex;
    justify-content: start;
}

.handleContainer {
    min-width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    height: 200px;
    border-bottom: 1px solid black;
}

.stagesDiv {
    scroll-snap-align: start;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    height: 200px;
    display:inline-flex;
}

.stage {
    border-right: 1px solid black;
    min-width:200px;
    min-height:200px;
}

.taskList {
    height:200px;
    width:200px;
    overflow-y: scroll;
}